body{
    font-family: 'Roboto Mono', monospace;
    margin: 0;
    padding: 0;
}
.home-body{
    width: 100vw;
    height: 100vh;
}

a{
    text-decoration: none;
    display: inline;
    color: black;

}

header{
    width: 100%;
    height: 20% ;
    display: grid;
    grid-template-rows: 35% 65%;
}

header .header-icons-container{
    width: 100%;
    display: grid;
    background-color: #47cfac;
}

header .header-icons-container .icons{
    min-width: 25%;
    height: auto;
    display: flex;
    align-items: center;
    justify-items: flex-end;
    justify-content: space-between;
    justify-self: end;
    margin-right: 4%;
}

header .header-icons-container .icons span {
    color: white;
}

nav{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

nav .nav-logo-container{
    margin-left: 3%;
}

nav .nav-logo-container img{
    min-width: 40%;
    max-width: 220px;
    margin-top: 10px;
}

nav .nav-profile-link{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-right: 4%;
}

nav .nav-profile-link a{
    color: black;
    border-bottom: solid black;
}

.home-main{
    height: 80%;
    background-image: url(../assets/img/Cover.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.home-main .main-text-container{
    color: white;
    letter-spacing: 5px;
    font-size: 1.4rem;
    width: 60%;
    justify-self: center;
    margin: 0 auto;
    margin-bottom: 10%;
    font-family: 'Roboto Mono', monospace;;

    
}


.home-main .main-button-container{
    height: 50px;
    width:100px;  
    display: flex;
    justify-self: center;
    align-content: center;  
    background-color: #47cfac;
    margin: 0 auto;
    border-radius: 8px;
    
}

.home-main .main-button-container a{
color: white;
font-size: 1rem;
margin: auto;
font-weight: bold;
word-wrap: break-word;
}

.blogs-main{
    display: grid;
}

.blogs-news-container{
    background-color: #e6e9ed;
    padding: 0 50px 40px;
}

.blogs-main-new{
    display: grid; 
    grid-template: 2fr / 2fr 1fr;
}

.blogs-news-img-container{
    grid-column: 1;
}

.blogs-news-img-container img {
    width: 85%;
}

.blogs-news-info-container{
    grid-column: 2;
}

.blogs-news-info-container p {
    margin-bottom: 35px;
}

.blogs-posts-container{
    padding: 0 50px 40px;
}

.blogs-posts-container h3{
    border-bottom: 1px solid #cdd2da;
    padding-bottom: 20px;
    text-align: center;
}

.blogs-button{
    border: 1px solid #47cfac;
    padding: 10px 15px;
    font-size: 0.75rem;
}

.blogs-posts-container .post-container{
    display: inline-block;
    padding-left: 10px;
    max-width: 30%;
    margin-bottom: 50px;
}

.blogs-posts-container .post-container p{
    margin-bottom: 35px;
}

.blogs-posts-container .post-container img{
    width: 100%;
}

footer{
    width: 100%;
    height: 80px;
    background-color: #22272d;
    border-top: 35px solid #47cfac;
    text-align: center;
}

footer p{
    color: white;
    margin-top: 30px;
}

.grid-container{
    max-width: 70%;
    margin: auto;
}